/* general & reset */
body, input, select, textarea, button, .ui-btn, a, span, li {
    font-family: 'Roboto Condensed', sans-serif;}
h2, h3 {
    font-family: 'Lobster', cursive;}
h2, h3, h4 {
    margin: 10px 0;}
.ui-content {
    padding: 0.5em 0.9em !important}

/* header */
.ui-header h3.ui-title, 
.ui-header h3.ui-title span {
    font-family: 'Lobster', cursive; font-weight: normal; font-size: 1.1em; padding: .8em 0;}
[data-role=header] {
    padding: 0; height: 50px; position: fixed !important}
[data-role=header] a {
    font-size: 20px !important;}

/* lists */
.ui-listview {margin-top: 10px !important; margin-bottom: 10px !important;}
ul.list a.ui-btn {font-size: 14px !important;}
.ui-footer-fixed {position: fixed !important;}

/* artist search panel */

.ui-input-search input {padding: .3em 1.75em;}

#artist-search {
    display: none; padding: 5px; border: 1px solid #ddd; border-radius: 3px; overflow: hidden; 
    box-shadow: inset 0 0px 4px #ccc;}
#artist-search .artist, #similar .artist {
    float: left; width: 31%; height: 96px; background-position:50% 50%; 
	background-repeat:no-repeat; background-size: cover; position: relative; overflow: hidden; 
	cursor: pointer; border: 1px solid #aaa; margin-top: 4px; margin-left: 3px; opacity: 0.8;}
#artist-search .artist:active, #similar .artist:active {opacity: 1;}
#artist-search .artist .info, #similar .artist .info {
    background:rgba(255, 255, 255, 0.8); color:#333; font-size:11px; width:100%; font-weight:bold;
	padding:5px; position:absolute; bottom: 0; text-align:center; text-shadow:0 0 1px #bbb; }

/* similar artists panel */
#similar .list {
    padding: 5px; border: 1px solid #ddd; border-radius: 3px; overflow: hidden; box-shadow: inset 0 0px 4px #ccc;}
    
/* tracks list */

#player li.playing a {
    background-color: #ddd !important;}
#player li.missing a {
    text-decoration: line-through !important; background: #FFDCDC; 
	border-top: 1px solid #FFBDBD; border-bottom: 1px solid #FFBDBD;}





/* player controls */
#player .controls {
    background: #444; overflow: hidden;}
#player .controls div.btn {
    background-repeat: no-repeat; width: 32px; height: 32px;  margin: 7px; cursor: pointer;
	border: 1px solid #000; border-radius: 22px; box-shadow: 0 0 7px rgba(255,255,255,0.5);}
/*#player .controls div.btn:active {background-color: rgb(128, 168, 190);}*/
#player .controls div.btn:active, .list-open.active {
    box-shadow:0 0 12px rgba(0, 155, 224, 1);}

.list-open {
    transition: box-shadow 2s;
}
#player .play, #player .pause {
    float: left; margin-right: 9px;}
#player .source {float: right; }

#player .play {background-image: url(../img/play.png);  }
#player .source {background-image: url(../img/refresh.png);  }
#player .pause {background-image: url(../img/pause.png);  }
#player .next {background-image: url(../img/next.png);}

#player .now-play {
    float: left; width: 70%; height: 20px; font-size: 12px; color: #fff; text-shadow: 0 0 1px #000; margin-top: 5px;}
#player .now-play .title {
}
#player .now-play .time {
    font-size: 11px; margin-left: 10px;}

#player .progress {
    float: left; width: 70%; height: 10px; background: none;}
#player .loaded {
    background: #666; height: 10px; width: 0;}
#player .seek {
    background: #999; height: 10px; width: 0;}


/* playlist */
#playlist li a {
    font-size: 14px; padding-left: 15px; font-family: Roboto Condensed;}
#playlist .tracks small, #player .list small {
    color: #aaa;    vertical-align: bottom; margin-left: 6px;}
#playlist .lists {
    transform: scale(0.86);}
    
div.ui-add {
    background: url('../img/add.png') no-repeat center center;
    height: 24px;
    width: 26px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    transition: transform 2s;
}
div.ui-add:hover {
    transform: rotate(180deg);
}
div.ui-add.clicked {
    transform: rotate(360deg);
}
